/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  /* color: #393939; */
}

/* GENERICS */

.container-big {
  margin: 0 auto;
  width: 60vw;
}

.container-small {
  margin: 0 auto;
  width: 50vw;
}

.button-blu {
  background-color: #0061ff;
  color: #cde1ff;
  padding: 5px 10px;
  border: 0;
}

/* HEADER */

.nav {
  width: 100%;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left > img {
  height: 20px;
  display: inline-block;
}

.nav ul {
  list-style-type: none;
  display: inline-block;
}
.nav li {
  display: inline-block;
  margin: 0 15px;
}

.nav li a {
  text-decoration: none;
  color: #393939;
}

.nav-right ul li .button-blu {
  margin-left: 15px;
  margin-right: -15px;
}

.jumbo {
  background-color: brown;
  height: 600px;
}

/* MAIN */

.fatturazione {
  background-color: yellowgreen;
  height: 600px;
}

/* SEZIONE QUADRATI */
.client-logo {
  display: flex;
}

.client-logo-left,
.client-logo-middle,
.client-logo-right {
  background-color: aqua;
  border: 2px solid black;
  width: calc(100% / 3);
  height: calc(100vw / 3);
}

/* FOOTER */

.footer {
  background-color: black;
  height: 250px;
}
